<table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  <tbody>
    @for (trainingSubject of trainingSubjects(); track trainingSubject.id) {
      <tr>
        <td>{{trainingSubject.subject}}</td>
        <td>
        <button [routerLink]="['/training-modules', 'subjects', trainingSubject.id]">
           Details
        </button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (!isCreatingSubject()) {
    <button (click)="addTrainingSubject()"
    style="margin-top: 1%;">Add Training Subject</button>
}

