@if (isLoading) {
<h2>Loading associations...</h2>
} @else {
@if (isInTrainingModule) {
<button (click)="switchCreatingState(true)">Add New Collaborator</button>
} @else {
<button (click)="switchCreatingState(true)">Add New Training Module</button>
}

@if(isCreating()){
@if(isInTrainingModule){
<app-create-association-trainingmodule-collaborator [trainingModuleId]="selectedId" />
} @else {
<app-create-association-trainingmodule-collaborator [collaboratorId]="selectedId" />
}
}

<table>
    <tr>
        @if (isInTrainingModule) {
        <th>Collaborator Email</th>
        } @else {
        <th>Training Module</th>
        }
        <th>Init Date</th>
        <th>Final Date</th>
        <th>Actions</th>
    </tr>
    @for (assoc of associations; track $index) {
    <tr>
        @if (isInTrainingModule) {
        <td>{{assoc.collaboratorEmail}}</td>
        } @else {
        <td>{{assoc.trainingModuleId}}</td>
        }
        <td>{{assoc.periodDate.initDate | date:'yyyy-MM-dd'}} </td>
        <td>{{assoc.periodDate.finalDate | date:'yyyy-MM-dd'}} </td>

        <td>
            @if (isInTrainingModule) {
            <button [routerLink]="['/collaborators']">Collaborators</button>
            } @else {
            <button [routerLink]="['/training-modules', assoc.trainingModuleId]">Training Module
                Details</button>
            }
            <button (click)="removeAssociation(assoc.id)">Remove</button>
        </td>
    </tr>
    }
</table>

@if(associations.length === 0){
<div>
    <p>There are no associations.</p>
</div>
}
}