<form [formGroup]="assignmentForm" (ngSubmit)="save()" class="form-card">
  <h2>{{ isEditMode ? 'Editar Assignment' : 'Criar Assignment' }}</h2>

  <div class="form-row">
    <label>Collaborator</label>
    <select formControlName="collaboratorId" class="form-input">
      <option *ngFor="let c of collaborators" [value]="c.id">{{ c.name }}</option>
    </select>
  </div>

  <div class="form-row">
    <label>Start Date</label>
    <input type="date" formControlName="initDate" class="form-input" />
  </div>

  <div class="form-row">
    <label>End Date</label>
    <input type="date" formControlName="finalDate" class="form-input" />
  </div>

  @if(!isEditMode){
  <div class="form-row">
    <label>
      <input type="checkbox" formControlName="useNewDevice" />
      Create new device
    </label>
  </div>
}

  @if (useNewDevice()) {
    <div class="form-row">
      <label>Description</label>
      <input type="text" formControlName="deviceDescription" class="form-input" />
    </div>

    <div class="form-row">
      <label>Brand</label>
      <input type="text" formControlName="deviceBrand" class="form-input" />
    </div>

    <div class="form-row">
      <label>Model</label>
      <input type="text" formControlName="deviceModel" class="form-input" />
    </div>

    <div class="form-row">
      <label>Serial Number</label>
      <input type="text" formControlName="deviceSerialNumber" class="form-input" />
    </div>
  } @else {
    <div class="form-row">
      <label>Existing Device</label>
      <select formControlName="deviceId" class="form-input">
        <option *ngFor="let d of devices" [value]="d.id">{{ d.description }}</option>
      </select>
    </div>
  }

  <div class="actions">
    <button type="button" (click)="cancel()">Cancel</button>
    <button type="submit" [disabled]="assignmentForm.invalid">
      {{ isEditMode ? 'Save' : 'Create' }}
    </button>
  </div>
</form>
