<app-collaborator-list [collaborators]="collaborators">
</app-collaborator-list>

<app-collaborators-bullets [collaborators]="collaborators">
</app-collaborators-bullets>

@if (!collaboratorSignalService.isCreatingCollaborator()) {
<button data-test-id="create-collab-button" (click)="collaboratorSignalService.startCreateCollaborator()">
    Criar Colaborador
</button>
}
@else {
<app-collaborator-create />
}


<p></p>

@if (selectedCollaborator()) {
<app-collaborator-details>
</app-collaborator-details>
}

@else if (selectedCollaboratorHolidays()) {
<app-collaborator-holidays>
</app-collaborator-holidays>
}

@else if (selectedCollaboratorProject()) {
<app-associations-project-collaborator [collaboratorId]="selectedCollaboratorProject()!.collabId" />
}