<h2>Assignments</h2>

<app-assignments-list [assignments]="assignments()"></app-assignments-list>

<router-outlet></router-outlet>

<div class="collaborators-toggle-container">
  <button (click)="toggleCollaborators()" class="toggle-btn">
    {{ showCollaborators() ? 'Esconder Colaboradores' : 'Mostrar Colaboradores' }}
  </button>
</div>

<div class="collaborators-section" *ngIf="showCollaborators()">
  <h2>Collaborator Assignments</h2>
  <app-collaborators-assignments-list></app-collaborators-assignments-list>
</div>
