<app-projects-table [projects]="projects()"></app-projects-table>

<br>

@if (projectSelected()) {
<app-project></app-project>
}

<br>

@if(!isCreatingProjectSignal()) {
<button data-test-id="create-project-button" (click)="projectSignalService.startCreateProject()">
    Criar projeto
</button>
}
@else{
<app-project-form />
}

@if(isEditingProjectSignal()){
    <app-project-form></app-project-form>
}



@if (projectCollaboratorsSelected()) {
<app-associations-project-collaborator [projectId]="projectCollaboratorsSelected()!.id" />
}