<p>speciality-form works!</p>
<form [formGroup]="specialityForm" (ngSubmit)="save()" class="form-card">
  <h2>{{ isEditMode ? 'Editar Speciality' : 'Criar Speciality' }}</h2>


  <div class="form-row">
    <label>Descrição</label>
    <input formControlName="description" class="form-input" />
  </div>

  <div class="form-row">
    <label>Colaborador ID</label>
    <input formControlName="collaboratorId" class="form-input" />
  </div>

  <div class="form-row">
    <label>Tecnologia ID</label>
    <input formControlName="technologyId" class="form-input" />
  </div>

  <div class="form-row">
    <label>Data Início</label>
    <input type="date" formControlName="initDate" class="form-input" />
  </div>

  <div class="form-row">
    <label>Data Fim</label>
    <input type="date" formControlName="finalDate" class="form-input" />
  </div>

  <div class="actions">
    <button type="button" (click)="cancel()">Cancelar</button>
    <button type="submit" [disabled]="specialityForm.invalid">
      {{ isEditMode ? 'Guardar' : 'Criar' }}
    </button>
  </div>
</form>
