<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label>
    Title:
    <input type="text" formControlName="title" />
  </label>
  @if (title.touched && title.invalid) {
  <div>
    @if (title.errors?.['required']) {
    <small class="error">Title is required.</small>
    }
    @if (title.errors?.['minlength']) {
    <small class="error">Title must be at least 1 character.</small>
    }
    @if (title.errors?.['maxlength']) {
    <small class="error">Title must be at most 50 characters.</small>
    }
  </div>
  }

  <label>
    Acronym:
    <input type="text" formControlName="acronym" />
  </label>
  @if (acronym.touched && acronym.invalid) {
  <div>
    @if (acronym.errors?.['required']) {
    <small class="error">Acronym is required.</small>
    }
    @if (acronym.errors?.['pattern']) {
    <small class="error">Acronym must be 1 to 10 uppercase letters or digits only.</small>
    }
  </div>
  }

  <div formGroupName="periodDate">
    <label>
      Start Date:
      <input type="date" formControlName="initDate" />
    </label>

    <label>
      End Date:
      <input type="date" formControlName="finalDate" />
    </label>
  </div>

  <button type="submit" [disabled]="form.invalid">Create Project</button>
  <button type="button" (click)="onCancel()">Cancel</button>
</form>