<h1>{{collaboratorHolidaysSelected!.names}} {{collaboratorHolidaysSelected!.surnames}}</h1>

<form [formGroup]="form">
    <table>
        <thead>
            <tr>
                <th>Init Date</th>
                <th>Final Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody formArrayName="holidays">
            @for (holiday of holidaysForm.controls; track $index; let i= $index) {
            <tr [formGroupName]="i">
                <td><input type="date" formControlName="initDate" /></td>
                <td><input type="date" formControlName="finalDate" /></td>
                <td><button (click)="editHoliday(i)">
                        {{getButtonText(holiday.get('buttonText')!.value)}}
                    </button></td>
            </tr>
            }
        </tbody>
    </table>
</form>
<br>
<button type="button" (click)="createEmptyHoliday()" data-testid="add-btn">Add Holiday</button>