<button type = "button" (click)="closeDialog()" class="close-button">✖</button>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="names">Names</label>
  <input id="names" formControlName="names" />

  <label for="surnames">Surnames</label>
  <input id="surnames" formControlName="surnames" />

  <label for="email">Email</label>
  <input id="email" formControlName="email" />

  <div formGroupName="userPeriodDateTime" class="period-group">
    <label for="userInitDate">User Start Date</label>
    <input type="date" id="userInitDate" formControlName="_initDate"/>

    <label for="userEndDate">User End Date</label>
    <input type="date" id="userEndDate" formControlName="_finalDate" />
  </div>

  <div formGroupName="collaboratorPeriodDateTime" class="period-group">
    <label for="collabInitDate">Collaborator Start Date</label>
    <input type="date" id="collabInitDate" formControlName="_initDate"/>

    <label for="collabEndDate">Collaborator End Date</label>
    <input type="date" id="collabEndDate" formControlName="_finalDate" />
  </div>

  <button class="button">Save</button>
</form>