<table>
    <tr>
        <th>Title</th>
        <th>Acronym</th>
        <th>Actions</th>
    </tr>
    @for (proj of projects(); track proj.acronym) {
    <tr>
        <td>{{proj.title}}</td>
        <td>{{proj.acronym}}</td>
        <td><button (click)="selectRoute('details', proj.id!)" data-testid="details-btn">Details</button>
            <button (click)="selectRoute('associations', proj.id!)" data-testid="collabs-btn">Collaborators</button>
        </td>
    </tr>
    @if (selectedProject === proj.id) {
    <router-outlet />
    }
    }
</table>