<table>
    <tr>
        <th>Module ID</th>
        <th>Subject ID</th>
        <th>Actions</th>
    </tr>
    @for (trainingModule of trainingModules(); track trainingModule.id) {
    <tr>
        <td>{{trainingModule.id}}</td>
        <td>{{trainingModule.trainingSubjectId}}</td>
        <td>
            <button [routerLink]='[trainingModule.id]'>Details</button>
            <button [routerLink]="['associations-trainingmodule', trainingModule.id]">Collaborators Assigned</button>
        </td>
    </tr>
    }
</table>