<app-filters
  [fields]="[
    { name: 'period', label: 'Period' },
    { name: 'initDate', label: 'Init Date', type: 'date' },
    { name: 'finalDate', label: 'Final Date', type: 'date' }
  ]"
  (filtersChanged)="applyFilters($event)">
</app-filters>
<table>
  <thead>
    <tr>
      <th>Module ID</th>
      <th>Subject ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (trainingModule of trainingModules(); track trainingModule.id) {
      <tr>
        <td>{{ trainingModule.id }}</td>
        <td>{{ trainingModule.trainingSubjectId }}</td>
        <td>
          <button (click)="showDetails(trainingModule.id)">Details</button>
        </td>
      </tr>
    }
  </tbody>
</table>

 <button type="button" [routerLink]="['/training-modules', 'create']">
  Add Training Module
</button>
