<h1>{{projectCollaboratorsSelected()!.title}}</h1>
<table>
    <tr>
        <th>Email</th>
        <th>Init Date</th>
        <th>Final Date</th>
        <th>Actions</th>
    </tr>
    @for (assoc of projectCollaborators; track assoc.projectAcronym) {
    <tr>
        <td>{{assoc.collabEmail}}</td>
        <td>{{assoc.periodDate.initDate | date:'yyyy-MM-dd'}}  </td>
        <td>{{assoc.periodDate.finalDate | date:'yyyy-MM-dd'}}  </td>
        <td><button (click)="onSelectCollaboratorDetails(assoc)">Collaborator Details</button> </td>
    </tr>
    }
</table>

@if (collaboratorSelected()) {
    <app-collaborator-details>

    </app-collaborator-details>
}
