<table>
    <tr>
        @if (isInProject) {
        <th>Email</th>
        } @else {
        <th>Acronym</th>
        }
        <th>Init Date</th>
        <th>Final Date</th>
        <th>Actions</th>
    </tr>
    @for (assoc of associations; track $index) {
    <tr>
        @if (isInProject) {
        <td>{{assoc.collaboratorEmail}}</td>
        } @else {
        <td>{{assoc.projectAcronym}}</td>
        }
        <td>{{assoc.periodDate.initDate | date:'yyyy-MM-dd'}} </td>
        <td>{{assoc.periodDate.finalDate | date:'yyyy-MM-dd'}} </td>

        @if (isInProject) {
        <td><button>Collaborator Details</button> </td>
        } @else {
        <td><button>Project Details</button> </td>
        }
    </tr>
    }
</table>
