<div class="modal-overlay" (click)="closeModal()">
    <div class="modal">
        <form (ngSubmit)="onSubmit()" (click)="$event.stopPropagation()">
            <button type="button" class="close-btn" (click)="closeModal()">&times;</button>

            <label for="collabId">Choose a Collaborator Id</label>
            <select name="collabId" id="collabId" required [(ngModel)]="selectedCollaboratorId">
                <option value="">-- Select --</option>
                @for (option of allCollaboratorsIds(); track option) {
                <option value="{{option}}">{{option}}</option>
                }
            </select>

            <label for="initDate">Start Date</label>
            <input type="date" id="initDate" name="initDate" required [(ngModel)]="startDate">

            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" required [(ngModel)]="endDate">

            <button type="submit">Add Collaborator</button>
        </form>
    </div>
</div>