<form [formGroup]="trainingSubjectForm" (ngSubmit)="save()" class="form-card">
  <h2>{{ isEditMode ? 'Edit Training Subject' : 'Add Training Subject' }}</h2>

  <div>
    <label class="form-label">Subject</label>
    <input type="text" formControlName="subject" class="form-input" />
  </div>

  <div class="form-row">
    <label class="form-label">Description</label>
    <input type="text" formControlName="description" class="form-input" />
  </div>

  <div class="actions">
    <button type="button" (click)="cancel()">Cancel</button>
    <button type="submit" [disabled]="trainingSubjectForm.invalid">
      {{ isEditMode ? 'Save' : 'Add' }}
    </button>
  </div>
</form>
