<table class="assignments-table">
  <thead>
    <tr>
      <th>Collaborator</th>
      <th>Email</th>
      <th>Device</th>
      <th>Model</th>
      <th>SN</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (assignment of assignments; track assignment.id) {
      <tr>
        <td>{{ assignment.collaboratorName }}</td>
        <td>{{ assignment.collaboratorEmail }}</td>
        <td>{{ assignment.deviceDescription }}</td>
        <td>{{ assignment.deviceModel }}</td>
        <td>{{ assignment.deviceSerialNumber }}</td>
        <td>{{ assignment.period.initDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ assignment.period.finalDate | date: 'yyyy-MM-dd' }}</td>
        <td>
          <button (click)="selectRoute('/assignments', assignment.id)">
            Details
          </button>
        </td>
      </tr>

      @if (selectedAssignmentId === assignment.id) {
        <tr>
          <td colspan="8">
            <router-outlet></router-outlet>
          </td>
        </tr>
      }
    }
  </tbody>
</table>

<br>

<button class="create-button" [routerLink]="['/assignments/create']">
  Criar Assignment
</button>
