<table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  <tbody>
    @for (trainingSubject of trainingSubjects(); track trainingSubject.id) {
      <tr>
        <td>{{trainingSubject.subject}}</td>
        <td>
        <button [routerLink]="['/training-subjects', trainingSubject.id]">
           Details
        </button>
        </td>
      </tr>
    }
  </tbody>
</table>


 <button type="button" [routerLink]="['/training-subjects', 'create']">
  Add Training Subject
</button>



