<app-filters [fields]="[
  {name: 'title', label: 'Title'},
  {name: 'description' , label: 'Description'}
]"
(filtersChanged)="applyFilters($event)">

</app-filters>

<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  <tbody>
    @for (trainingSubject of filteredSubjects; track trainingSubject.id) {
      <tr>
        <td>{{trainingSubject.subject}}</td>
        <td>{{trainingSubject.description}}</td>
        <td>
        <button (click)="selectRoute('/training-subjects', trainingSubject.id)">
           Details
        </button>
        </td>
      </tr>
    
      @if(selectedTrainingSubject === trainingSubject.id){
        <router-outlet></router-outlet>
      }
}
  </tbody>
</table>


 <button type="button" [routerLink]="['/training-subjects', 'create']">
  Add Training Subject
</button>



