<table>
    <tr>
        <th>Names</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @for (collab of collaborators(); track collab.email) {
    <tr>
        <td>{{collab.names}}</td>
        <td>{{collab.email}}</td>
        <td><button [routerLink]='["details", collab.collabId]' data-testid="details-btn">
                Collaborator Details
            </button>
            <button (click)="onSelectCollaboratorHolidays(collab)" data-testid="holidays-btn">
                Collaborator Hollidays
            </button>
            <button (click)="onSelectCollaboratorProjects(collab)" data-testid="projects-btn">
                Collaborator Projects
            </button>
        </td>
    </tr>
    }
</table>