<button (click)="startFilter()">Filter</button>
@if (filter) {
<app-search-collaborators (filteredList)="onFilter($event)" />
}
<table>
    <tr>
        <th>Names</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @for (collab of filteredCollaborators; track collab.email) {
    <tr>
        <td>{{collab.names}}</td>
        <td>{{collab.email}}</td>
        <td><button [routerLink]='["details", collab.collabId]' data-testid="details-btn">
                Collaborator Details
            </button>
            <button [routerLink]='["holidayPlan", collab.collabId]' data-testid="holidays-btn">
                Collaborator Hollidays
            </button>
            <button [routerLink]='["associations", collab.collabId]' data-testid="projects-btn">
                Collaborator Projects
            </button>
        </td>
    </tr>
    }
</table>