<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        @if (projectId()) {
        <label>
  Collaborator:
  <select formControlName="collaboratorId">
    <option value="" disabled selected>-- Select a collaborator --</option>
    <option *ngIf="collaborators.length === 0" disabled>No collaborators available</option>
    <option *ngFor="let collab of collaborators" [value]="collab.collabId">
      {{ collab.email }}
    </option>
  </select>
</label>


        } @else if (collaboratorId()) {
        <label>
  Project:
  <select formControlName="projectId">
    <option value="" disabled selected>-- Select a project --</option>
    <option *ngIf="projects.length === 0" disabled>No projects available</option>
    <option *ngFor="let project of projects" [value]="project.id">
      {{ project.acronym }}
    </option>
  </select>
</label>


        }
    </div>
    <fieldset formGroupName="periodDate">
        @if (collaboratorId()) {
        <legend> Period</legend>
        } @else if(projectId()) {
        <legend> Period</legend>
        }
        <div>
            <label>
                Init Date:
                <input type="date" formControlName="initDate" />
            </label>
        </div>
        <div>
            <label>
                Final Date:
                <input type="date" formControlName="finalDate" />
            </label>
        </div>
    </fieldset>
    <button type="submit">Create Association</button>
<button type="button" (click)="onCancel()">Cancel</button>
</form>